<script setup lang="ts"></script>

<template>
  <v-container fill-height fluid>
    <v-row justify="space-evenly" align-content="center" align="center">
      <v-avatar
        image="https://scontent.fbkk22-8.fna.fbcdn.net/v/t39.30808-6/302137570_1463745024142260_779778474900364789_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEYB_SvLvU6p8AsHHXF2Sp_Owkm7HQbV1s7CSbsdBtXW72I9tPwiuYmfFNbzt8SdtFrN-6IF_4RGOUILQuSrU-H&_nc_ohc=G8mxfNSNYHgAX-hOOWL&_nc_zt=23&_nc_ht=scontent.fbkk22-8.fna&oh=00_AfA9yRKOkn0kplxQexwBDoOhQNo2eVNC7YcUE9cH6J3sjA&oe=63A48124"
        size="100"
      ></v-avatar>
      <div>Anurak Yutthanawa</div>
    </v-row>
  </v-container>
  <v-container fill-height fluid>
    <v-row justify="space-evenly" align="center">
      <v-table>
        <thead>
          <tr>
            <th>No</th>
            <th>Institute</th>
            <th>Cerificated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Piboonbumpen Demonstration School, Burapha University</td>
            <td>Basic Education</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Faculty of Informatics, Burapha University</td>
            <td>B.Sc. Computer Science (studying)</td>
          </tr>
        </tbody>
      </v-table>

      <v-list>
        <v-list-subheader color="primary">Interesting</v-list-subheader>

        <v-list-item>
          <v-list-item-title>Machine Intelligence</v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>Cloud Computing</v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>High-Performance Computing</v-list-item-title>
        </v-list-item>

        <v-list-item>
          <v-list-item-title>Data Pattern Analysis</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-title
            >Signal, Image, NLP, Time Analysis</v-list-item-title
          >
        </v-list-item>
      </v-list>
    </v-row>
  </v-container>
  <v-container>
    Publication
    <v-table>
      <thead title="Publication">
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            EXTRACTING KEY FEATURES OF METAPHASE G-BAND CHROMOSOME IMAGE FOR
            COUNTING ENHANCEMENT FOR INITIAL GENETIC DISEASES DIAGNOSIS
          </td>
          <td>Pakkeeptong, B, Yutthanawa, A, Wayalun, P.</td>
          <td>2022</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Rice Leaf Diseases Identify Using Big Transfer</td>
          <td>Yutthanawa, A & Onpans, J.</td>
          <td>2022</td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
