<script setup lang="ts">
import FrameWorkPop from "@/components/FrameWorkPop.vue";
import { computed, ref } from "vue";
const framelist = ref([
  {
    name: "VueJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1184px-Vue.js_Logo_2.svg.png",
    rating: 0,
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png",
    rating: 0,
  },
  {
    name: "AngularJS",
    img: "https://angular.io/assets/images/logos/angular/angular.png",
    rating: 0,
  },
]);
function change(rating: number, index: number) {
  framelist.value[index].rating = rating;
}

const ordlist = computed(() => {
  return [...framelist.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framelist" :key="index">
        <FrameWorkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="change"
        />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of ordlist" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
