<script setup lang="ts">
import { ref } from "vue";

const emits = defineEmits<{
  (e: "action"): void;
  (e: "change", rating: number, index: number): void;
}>();

const props = defineProps<{
  name: string;
  img: string;
  rating: number;
  index: number;
}>();
const count = ref(props.rating);
function increase() {
  count.value++;
  emits("change", count.value, props.index);
}

function decrease() {
  count.value--;
  emits("change", count.value, props.index);
}
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img height="200" :src="props.img" contain> </v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-caption">Score: {{ count }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn variant="flat" color="error" @click="decrease()"> - </v-btn>
      <v-btn variant="flat" color="secondary" @click="increase()"> + </v-btn>
    </v-card-actions>
  </v-card>
</template>
